<h1> Пропуски :</h1>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="" (ngSubmit)="onSubmitChildren()">
    <table>
          <tr>
          <th>По уважительной причине</th>
          <th>По неуважительной причине</th>
          </tr>
      
        <tr> 
            <td align="center">
              <mat-form-field class="example-full-width">
              <input matInput type="number" readonly>{{data.countt}}
            </mat-form-field>
            </td>

            <td align="center">
              <mat-form-field class="example-full-width">
              <input matInput type="number" readonly >{{data.countt2}}
              </mat-form-field>
            </td>
        </tr>
        
    </table>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Ок</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
